<section>
    <div class="container-fluid" style="padding-left: 90px;">
        <div class="row d-flex justify-content-center" style="padding: 10px 0px 10px 10px;">
            <div class="col-12 col-md-8">
                <form action="/admin/edit-product?id={{product._id}}" method="post" enctype="multipart/form-data">

                    <label for="" class="mt-2">Name</label>
                    <input class="form-control" type="text" aria-label="default input example" name="Name"
                        value="{{product.Name}}" required>

                    <label for="" class="mt-2">Price</label>
                    <input class="form-control" type="text" aria-label="default input example" name="Price"
                        value="{{product.Price}}" required>

                    <label for="" class="mt-2">Description</label>
                    <input class="form-control mb-2" type="text" aria-label="default input example"
                        value="{{product.Description}}" name="Description" required>

                    <div class=" mt-2">
                        <div style="display: flex; align-items: baseline;">
                            <label for="formFile" class="form-label">Select image </label><span class="text-success"
                            style="font-size: 12px;"> (please choose this file once more)</span>
                        </div>
                        
                        <img src="/images/product-images/{{product._id}}.{{product.imageExt}}" alt=""
                            style="width: 80px; height: auto; margin-left: 20px;" id="imageView">
                        <input class="form-control mt-3" type="file" id="formFile" name="Image"
                             onchange="viewImage(event)" required>
                    </div>

                    <div style="display: flex; align-items: baseline;">
                         <label for="" class="mt-2">Choose image extension</label><span class="text-success"
                            style="font-size: 12px;"> (please choose this once more)</span>
                    </div>
                   
                    <div class="form-check form-switch mt-3">
                        <input class="form-check-input " type="radio" role="switch" name="imageExt" value="jpg" required>
                        <label class="form-check-label " for="flexSwitchCheckDefault">JPG</label>
                    </div>
                    <div class="form-check form-switch mt-1">
                        <input class="form-check-input" type="radio" role="switch" name="imageExt" value="png" required>
                        <label class="form-check-label" for="flexSwitchCheckChecked">PNG</label>
                    </div>

                    <div style="display: flex; align-items: baseline;" class="mt-1 mb-1">
                        <label for="">Category</label><span class="text-success"
                            style="font-size: 12px;"> (please click any one of this button)</span>
                    </div>
                    {{#each categories}}
                    <input type="radio" class="btn-check" name="Category" id="categ{{this._id}}" autocomplete="off"
                        value="{{this.category}}" required>
                    <label class="btn btn-outline-dark me-2" for="categ{{this._id}}"
                        style="font-size:x-small;">{{this.category}}</label>
                    {{/each}}
                    <br>
                    <br>

                    <div style="width: 100%; display: flex; justify-content: center;">
                        <a href="/admin/" style="font-size: 12px;" class="btn btn-dark me-2">Cancel</a>
                        <button style="font-size: 12px;" type="submit" class="btn btn-warning ">Edit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>