<section>
    <div class="container-fluid view-option-table" style="padding-left: 90px;">
        <div class="row" style="padding: 20px 20px;">
            <!--<div class="d-flex justify-content-start" style="background-color:rgb(255, 255, 255) ; color: var(--secondary); padding: 6px 4px 0 10px;">
                    <h4 style="overflow: hidden;">All Orders</h4>
            </div>-->
            <table id="adminPageOrdersTable" class="display" width="100%" style="border-collapse: separate;
        border-spacing: 0 15px; border: none;">
                
                <thead>
                    <tr style="background-color:  white">
                        <th scope="col">Id</th>
                        <th scope="col">Date</th>
                        <th scope="col">User</th>
                        <th scope="col">Address</th>
                        <th scope="col">Products</th>
                        <th scope="col">Total</th>
                        <th scope="col">Payment</th>
                        <th scope="col">Status</th>
                        <th scope="col">Options</th>
                    </tr>
                </thead>

                <tbody>
                    {{#each orders}}
                   
                    <tr style="background-color: rgb(234, 246, 236) ; font-size: small; ">

                        <td data-label="Id">{{this._id}}</td>
                        <td data-label="Date">{{this.deliveryDetails.current_date}}</td>
                        <td data-label="User">{{this.deliveryDetails.email}} <br>{{this.deliveryDetails.phone}}</td>
                        <td data-label="Address">{{this.deliveryDetails.address}} <br>
                        {{this.deliveryDetails.pincode}} <br>{{this.deliveryDetails.landmark}}</td>
                        <td data-label="Products">
                            {{#each this.products.product}}
                            <a href="" style="text-decoration: none;">{{this.name}}</a><span style="margin-left: 2px; opacity: 60%;">Nos:{{this.quantity}}</span><br>
                            {{/each}}
                        </td>
                        <td data-label="Total">₹.{{this.totalPrice}}</td>
                        <td data-label="Payment">{{this.paymentMethod}}</td>
                        <td data-label="Status">{{this.status}}</td>
                        <td data-label="Options"><a href="" class="btn btn-dark" style="font-size: x-small;">Track</a></td>
                    </tr>
                   
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</section>